In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('2019.xlsx')

In [ ]:
top = df['특성추출(가중치순 상위 50개)']

In [ ]:
words = []

for i in range(len(top)):
    a = str(top[i])
    wordlist = a.split(',')
    words.append(wordlist)

In [ ]:
word_list = []
for word in words:
    word_list += word

In [ ]:
wordcount = {}

for word in word_list:
    wordcount[word] = wordcount.get(word, 0) + 1
    keys = sorted(wordcount.keys())

In [ ]:
df = pd.DataFrame(wordcount, index = ['count'])
df = df.transpose()
df['year'] = 2019
df

       count  year
한국       983  2019
인권담론       1  2019
글래스고       7  2019
광주        69  2019
86세대       1  2019
...      ...   ...
외단열        1  2019
둥탄         1  2019
베드제드       1  2019
차량공유       1  2019
하이퍼루프      1  2019

[27373 rows x 2 columns]

In [ ]:
len(df)

27373

In [ ]:
count = df['count'] > 150
df = df.loc[count,:]
df

         count  year
한국         983  2019
중소기업       174  2019
위원회        335  2019
공공기관       165  2019
한국에너지공단    157  2019
...        ...   ...
sk         213  2019
신재         235  2019
자원부        189  2019
수소차        158  2019
발전량        152  2019

[80 rows x 2 columns]

In [ ]:
df.to_excel('2019_count.xlsx')